@-moz-viewport {width: device-width; scale: 1;}
@-ms-viewport {width: device-width; scale: 1;}
@-o-viewport {width: device-width; scale: 1;}
@-webkit-viewport {width: device-width; scale: 1;}
@viewport {width: device-width; scale: 1;}

html {
    box-sizing: border-box;
    -moz-text-sized-adjust: 100%;
    -ms-text-sized-adjust: 100%;
    -webkit-text-sized-adjust: 100%;
    text-sized-adjust: 100%;

}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

/*

colours 

Purple: #BE6696
Pink: #E567B5
Green: #B0E1DF
Bleu: #AFE5F9
Red: #F16370
Orange: #F9B175
Yellow: #FEF6A3
grey: #4D4D4D

*/

p {
  font-family: "lato", sans-serif;
  font-weight: 300; 
  font-size: 17px;
  line-height: 20px;    
  color: #4D4D4D;
}

img {
    width: 100%;
    margin: 0;
    padding: 0;
}

nav{
 background-color:#fff;
 position: fixed;
 width: 100%;    
 height: 7rem; 
 z-index: 1000;
}

.logo{
   position: absolute;
   width: 7rem; 
   top: -0.02rem;    
}
.line-seperator{
  height:2px;
  border-bottom:2px solid #4D4D4D;  
}


#toggle {
  position: absolute;    
  display: block;
  width: 28px;
  height: 30px;
  margin: 20px 80% 10%;   
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  top: -9px;  
}

#toggle span:after{
  top: 9px;   
}
#toggle span {
  position: relative;
  display: block;    
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 5px;
  background-color: #BE6696;
  transition: all 0.3s;
  backface-visibility: hidden;
}

/* once pushed */
#toggle.on span {
  background-color: transparent;      
}

#toggle.on span:before {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
  -moz-transform: rotate(45deg) translate(5px, 5px);
  -o-transform: rotate(45deg) translate(5px, 5px);
  -ms-transform: rotate(45deg) translate(5px, 5px);
  transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
  -webkit-transform: rotate(-45deg) translate(7px, -8px);
  -moz-transform: rotate(-45deg) translate(7px, -8px);
  -o-transform: rotate(-45deg) translate(7px, -8px);
  -ms-transform: rotate(-45deg) translate(7px, -8px);
  transform: rotate(-45deg) translate(7px, -8px);
}
#toggle.on + #menu {
  opacity: 1;
}

/* menu appearance*/
#menu {
  position: fixed;
  color: #999;
  width: 100%;
  padding: 10px;
  font-weight: 300; 
  font-size: 2rem;
  line-height: 4rem;    
  text-align: right;
  background: #fff;
  opacity: 0; 
  transition: opacity .4s;
  top: 3.5em;    
  bottom: 0;
}
/*
#menu:after {
  position: absolute;    
  top: -15px;
  left: 95px;
  content: "";
  display: block;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid white;
}*/
#menu ul, 
#menu li, 
#menu li a {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}
#menu li a {
  padding: 5px;
  color: #4D4D4D;
  font-size: 1.8rem;
  font-weight: 300;    
  text-decoration: none;
  transition: all .2s; 
  padding-right: 8%;    
}
#menu li a:hover,
#menu li a:focus {
  color: #BE6696;
}

.large-nav{
 display: none; 
}

@media only screen and (min-width: 37em) {
  
  .small-nav{
   display: none;
  }
  
  .large-nav{
   display: inline-block;
   text-decoration: none;  
  }
  
  .large-nav a{
   text-decoration: none;  
  }
  
  .large-nav li{ 
   display: inline-block;
   margin: 1rem; 
  }

}

.header{  
  height: 100vh;    
  background-image: url('http://placehold.it/550x550');
  background-color:  transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contain{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 0;     
}

.description{
  position: absolute;
  left: 50%;
  text-align: center;
  padding-top: 180px; 
  width: 90%;
  max-width: 35em;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}