@-moz-viewport {width: device-width; scale: 1;}
@-ms-viewport {width: device-width; scale: 1;}
@-o-viewport {width: device-width; scale: 1;}
@-webkit-viewport {width: device-width; scale: 1;}
@viewport {width: device-width; scale: 1;}

html {
    box-sizing: border-box;
    -moz-text-sized-adjust: 100%;
    -ms-text-sized-adjust: 100%;
    -webkit-text-sized-adjust: 100%;
    text-sized-adjust: 100%;

}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

/*

colours 

Purple: #BE6696
Pink: #E567B5
Green: #B0E1DF
Bleu: #AFE5F9
Red: #F16370
Orange: #F9B175
Yellow: #FEF6A3
grey: #4D4D4D

*/

p {
  font-family: "lato", sans-serif;
  font-weight: 300; 
  font-size: 17px;
  line-height: 20px;    
  color: #4D4D4D;
}

img {
    width: 100%;
    margin: 0;
    padding: 0;
}

.flex-img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.background{
 background-color:#fff;
 position: fixed;
 width: 100%;    
 height: 7rem; 
 z-index: 1000;
}

.logo{
   position: absolute;
   width: 7rem; 
   top: -0.02rem;    
}
.line-seperator{
  height:2px;
  border-bottom:2px solid #4D4D4D;  
}

#toggle {
  position: absolute;    
  display: block;
  width: 28px;
  height: 30px;
  margin: 30px 80% 5%;   
}

@media only screen and (min-width: 19em) {
  #toggle {
   margin: 30px 85% 5% 
  } 
}

@media only screen and (min-width: 25em) {
  #toggle {
   margin: 30px 90% 5% 
  }
  
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  top: -9px;  
}

#toggle span:after{
  top: 9px;   
}
#toggle span {
  position: relative;
  display: block;    
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 5px;
  background-color: #BE6696;
  transition: all 0.3s;
  backface-visibility: hidden;
}

/* once pushed */
#toggle.on span {
  background-color: transparent;      
}

#toggle.on span:before {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
  -moz-transform: rotate(45deg) translate(5px, 5px);
  -o-transform: rotate(45deg) translate(5px, 5px);
  -ms-transform: rotate(45deg) translate(5px, 5px);
  transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
  -webkit-transform: rotate(-45deg) translate(7px, -8px);
  -moz-transform: rotate(-45deg) translate(7px, -8px);
  -o-transform: rotate(-45deg) translate(7px, -8px);
  -ms-transform: rotate(-45deg) translate(7px, -8px);
  transform: rotate(-45deg) translate(7px, -8px);
}

#toggle.on + #menu {
  display: block;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  background-color: #fff;
  height: 100%;
}

/* menu appearance*/
#menu {
  position: fixed;
  color: #999;
  font-family: 'oswald', sans-serif;
  width: 100%;
  padding: 5px;
  font-weight: 200; 
  font-size: 2rem;
  line-height: 4rem;    
  text-align: right;
  height: 0; 
  transition: opacity .4s;
  display: none;
  height: 0;
  top: 3.3em;
}

/*
#menu:after {
  position: absolute;    
  top: -15px;
  left: 95px;
  content: "";
  display: block;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid white;
}*/
#menu ul, 
#menu li, 
#menu li a {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}

#menu li a {
  padding: 5px;
  color: #4D4D4D;
  font-size: 1.8rem;    
  text-decoration: none;
  transition: all .2s; 
  padding-right: 8%;    
}
#menu li a:hover,
#menu li a:focus {
  color: #BE6696;
}

.large-nav{
 display: none; 
}

@media only screen and (min-width: 45em) {
  
  .small-nav{
   display: none;
  }
  
  .large-nav{
   display: inline-block;
   text-decoration: none;
   float: right;
   font-family: 'oswald', sans-serif;
   font-weight: 200;  
  }
  
  .large-nav a{
   text-decoration: none;
   color: #4D4D4D;  
  }
  
  .large-nav li{ 
   display: inline-block;
   margin: 0.5rem;
   margin-left: 1.5rem;
   font-size: 1.5rem;
   line-height: 4rem;    
  }
  
  .large-nav li a:hover,
  .large-nav li a:focus {
  color: #BE6696;
  border-bottom: 2px solid;  
  }
}

@media only screen and (min-width: 70em) {
  .stop{
    width: 90%;
  }
  
  .stop-logo{
   left: 10%;    
  }
}
 
.header{  
  height: 100vh;
    width: 100%;
  background-image: url('http://placehold.it/550x550');
  background-color:  transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contain{
    width: 100%;
  margin: 0 auto;
  padding: 0 0;     
}

#mywork{
  padding-bottom: 2rem; 
}

.description{
  text-align: center;
  padding-top: 90%; 
  width: 80%;
  max-width: 35em;
    margin: 0 auto;

}

.arrow{
 width: 25%; 
}

.section{
 text-align: center;
 font-size: 2rem; 
 padding-top: 7rem;
}

@media only screen and (min-width: 23em) {
  
  .description{
   padding-top: 80%;
  }
}

@media only screen and (min-width: 29em) {
  
  .description{
   padding-top: 40%;  
  }
}

@media only screen and (min-width: 35em) {
  
  .description{
   font-size: 1.5rem;
   width: 70%;
   padding-top: 50%;  
  }
}

@media only screen and (min-width: 50em) {
  
  .description{
   font-size: 2rem;
   width: 60%; 
   padding-top: 30%;
  }
}

@media only screen and (min-width: 70em) {
  
  .description{
   font-size: 2rem;
   width: 60%; 
   padding-top: 20%;
  }
}

.ac-container{
    width: 100%;
    position: relative;
}

.ac-container label{
   background-color:  transparent;
   z-index: 20;
   display: block;
   cursor: pointer;
   line-height: 33px;
   border-radius: 0.3rem;
   text-align: center;
   position: relative;
   margin: 0;
    max-height: 15rem;
    overflow: hidden;
}

.ac-container label:hover{
    background-color: #fff;
}

.ac-container input:checked + label,
.ac-container input:checked + label:hover{
    color: #3d7489;  
}

.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
    content: '';
    position: absolute;
    width: 5%;
    height: 50px;
    top: 10px;
    background: transparent url(../images/arrow_down.png) no-repeat center center;  
   background-radius: 30px;
}


.ac-container input{
    display: none;
}

.ac-container article{
    overflow: auto;
    height: 0px;
    position: relative;
    z-index: 90;
    transition: 
        height 0.3s ease-in-out, 
        box-shadow 0.6s linear;
}

.ac-container input:checked ~ article{
    transition: 
        height 0.5s ease-in-out, 
        box-shadow 0.1s linear;
    min-height: 20rem;  
    height: auto;
    overflow: auto;
}

.ac-container article p{
    line-height: 23px;
    font-size: 14px;
    padding: 20px 0;
}

.ac-small{
  width: 100%;
  height: auto;
  overflow: auto;
  padding: 0 8%;
  margin: 0;
}

.ac-small > .flex-img {
  margin-bottom: 2rem;
}

.ac-container input:checked ~ article.ac-small{
  height: auto;
  min-height: 60rem;  
}

.item {
  padding-bottom: 2rem;
}

.section-photo {
  padding-top: 2rem; 
}

